<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css?v=<%= locals.version %>">
		<link rel="stylesheet" href="/css/index.css?v=<%= locals.version %>">
		<link rel="stylesheet" href="/css/login.css?v=<%= locals.version %>">
	</head>
	<body>
		<section class="prompt">
			<h1><%= t("auth.register") %></h1>
			<form action="/signup" method="post">
				<section>
					<label for="username"><%= t("user.name") %></label>
					<input id="username" name="username" type="text" autocomplete="username" required>
				</section>
				<section>
					<label for="new-password"><%= t("user.pass") %></label>
					<input id="new-password" name="password" type="password" autocomplete="new-password" required>
				</section>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="btnSign" type="submit"><%= t("auth.register") %></button>
			</form>
			<hr>
			<p class="help">Already have an account? <a href="/login"><%= t("auth.signin") %></a></p>
		</section>
		<footer class="info">
			<p>Created by <a href="https://www.jaredhanson.me">Jared Hanson</a></p>
			<p>Part of <a href="https://todomvc.com">TodoMVC</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
