<link rel="stylesheet" href="/css/reserve.css?v=<%= locals.version %>">
<script type="text/javascript" src="https://unpkg.com/validator@latest/validator.min.js"></script>
<!-- <script type="module">
    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("<%= t('error.blank') %>");
                }
            };
            elements[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }
    })
    validator.isEmail('foo@bar.com'); //=> true
</script> -->
<script type="module" crossorigin src="/calendar/main.js?v=<%= locals.version %>"></script>
<link rel="stylesheet" href="/calendar/style.css?v=<%= locals.version %>">
<script type="module">
    // Import the redrawCalendar function from the main.js module
    import { redraw } from '/calendar/main.js';
    window.bookRes=bookRes;
    window.firstClick=firstClick;
    window.resetBtn=resetBtn;

    fetch("/calendarconf/<%= room.id %>").then(()=>redraw(null,null,cb));
    var cb = ()=>{        
        document.getElementById("btn-reset").classList.add("d-none");
        var days = document.getElementsByClassName("_day");
        var today = document.getElementsByClassName("_today");
        var month =document.getElementById("mc-title").getAttribute("mc-utc-date")?.slice(5,7);
        var year  =document.getElementById("mc-title").innerText.split(" ")[1];
        var _compDay = new Date(document.getElementById("mc-title").getAttribute("mc-utc-date"));
        
        //if(month<10) month = "0"+month;
        var _list = "<%= JSON.stringify(_getReservations._listAll) %>" ;
        _list = _list.replaceAll("&#34;","\"");
        let data = JSON.parse(_list);
        for (let index = 0; index < data.length; index++) {
            const parts = data[index].date.split('.');    
            if(parts[1]<10 && parts[1].length<2) {
                parts[1] = "0"+parts[1];
                data[index].date = parts[0]+"."+parts[1]+"."+parts[2]
            }
            if(parts[0]<10 && parts[0].length<2) {
                parts[0] = "0"+parts[0];
                data[index].date = parts[0]+"."+parts[1]+"."+parts[2]
            }
            
        }

        //console.log(data)
        if(today.length){
            today[0].addEventListener("click",(evt)=>{
                //console.log(today[0].children[0].innerText);
                //console.log(evt.target.outerText)
                let date = {year,month,_day:evt.target.outerText};
                //zerofill
                if(date._day<10) date._day = "0"+date._day;
                document.getElementById("res_date").value=date.year+"-"+date.month+"-"+date._day;
                sessionStorage.setItem("date",JSON.stringify(date));
                fillHoursByDay(date,data);
            });
        }            

        for (let index = 0; index < days.length; index++) {
            _compDay.setUTCDate(days[index].children[0].innerText);
            //console.log("brwsr/reserveejs _compday:"+_compDay.toISOString());
            if(new Date()>_compDay){  
                days[index].addEventListener("click",(evt)=>{document.getElementById("hours-row").classList.add("d-none");});                
                continue;
            }
                days[index].addEventListener("click",(evt)=>{
                //console.log(days[index].children[0].innerText);
                let findDay;
                if(evt.target.classList.contains("eventDot")){
                    findDay=evt.target.parentElement.firstChild.innerText;
                }else findDay = evt.target.outerText;
                let date = {year,month,_day:findDay};
                //console.log(evt)
                //zerofill
                if(date._day<10) date._day = "0"+date._day;
                if(date.month<10 && date.month.length<2) date.month = "0"+date.month;

                document.getElementById("res_date").value=date.year+"-"+date.month+"-"+date._day;
                sessionStorage.setItem("date",JSON.stringify(date));
                sessionStorage.setItem("data",JSON.stringify(data));
                fillHoursByDay(date,data);
            });
        }
    }
    function fillHoursByDay(day,_data) {
        firstClick = 0;
        document.getElementById("hours-row").classList.remove("d-none");
        var _evList=[];
        _data.forEach((v,i,arr)=>{
            const parts = v.date.split('.');    
            //if(parts[1]<10 && parts[1].length<2) parts[1] = "0"+parts[1];
            if((parts[2] == day.year)&&(parts[1]==day.month)&&(parts[0]==day._day))
                _evList.push(v);
        });
        //console.log(_evList)
        sessionStorage.setItem("evList",JSON.stringify(_evList));
        var buttons = document.getElementsByClassName("available-btns");
        for (const slot of buttons) {
            slot.classList.remove("btn-danger");
            slot.classList.remove("disabled");
            slot.classList.add("btn-success");                    
        }
        for (const booking of _evList) {
            const bookingStartTime = booking.start.substring(0, 5); // Extract "HH:MM" part
            const bookingEndTime = booking.end.substring(0, 5); // Extract "HH:MM" part


            for (const slot of buttons) {
                if (bookingEndTime > slot.value && bookingStartTime <= slot.value) {
                    // Conflict with this booking
                    //console.log(`Booking on ${booking.date} conflicts with time slot ${slot.value}.`);
                    slot.classList.add("btn-danger");
                    slot.classList.add("disabled");
                    slot.classList.remove("btn-success");                    
                }
            }
        }
    }
    var firstClick = 0;
    function bookRes(_this){
        if(firstClick===0){
            firstClick = _this.value.replace(":","");
            if(firstClick>2300) {alert("<%= t('error.start_time') %>");firstClick = 0;return;}
            document.getElementById("hours-info1").classList.add("d-none");
            document.getElementById("hours-info2").classList.remove("d-none");
            document.getElementById("hours-info3").classList.add("d-none");
            document.getElementById("res_end").value="00:00";
            document.getElementById("res_start").value=_this.value;
            disableHoursBefore(_this.value);
        } else if(_this.value.replace(":","")<=firstClick) return;
        else {
            document.getElementById("res_end").value=_this.value;
            firstClick = 0;
            disableRest(_this.value);
            document.getElementById("hours-info1").classList.add("d-none");
            document.getElementById("hours-info2").classList.add("d-none");
            document.getElementById("hours-info3").classList.remove("d-none");
        }       
        return;
        var _buttons = document.getElementsByClassName("available-btns");
        var _value=_this.value;           
        let hour =parseInt(_this.id.slice(7,11));
        let arrayComp=[];
        for (let inx = 0; inx < _buttons.length; inx++) {
            let hCompare =parseInt(_buttons[inx].id.slice(7,11));
            if(firstClick===0){
                if( hCompare < hour ){
                    let _temp=document.getElementById("btnHour"+hCompare);
                    _temp?.classList.add("btn-danger");
                    _temp?.classList.add("disabled");
                    _temp?.classList.remove("btn-success"); 
                }else if( hCompare === hour ){
                    arrayComp.push(_this);
                    firstClick = hour;
                }
            } else if(  hour < hCompare  ){
                let _temp=document.getElementById("btnHour"+hCompare);
                if(_temp.classList.contains("disabled"))
                    arrayComp.push(document.getElementById("btnHour"+(hCompare-30)));
                if(arrayComp.length>2){
                    _temp.classList.add("btn-danger");
                    _temp.classList.add("disabled");
                    _temp.classList.remove("btn-success"); 
                }
                // _temp.classList.add("btn-danger");
                // _temp.classList.add("disabled");
                // _temp.classList.remove("btn-success"); 
                //if firstclick - hour < 60 redirect(refresh)
            }else if(hour === hCompare){
                arrayComp.push(_this);
            }
            hCompare+=30;     // console.log(hCompare)       
        }
        
       
        firstClick = 0;
        
    }
    function resetBtn(){
        let session_date = JSON.parse(sessionStorage.getItem("date"));
        let session_data = JSON.parse(sessionStorage.getItem("data"));
        fillHoursByDay(session_date,session_data);
        
        document.getElementById("reserve_date").classList.add("disabled");
        document.getElementById("btn-reset").classList.add("d-none");
    }
    function disableHoursBefore(_val){
        var _buttons = document.getElementsByClassName("available-btns");
        var disableBefore = 0;
        let _bookData= JSON.parse(sessionStorage.getItem("evList"));
        for (const reservation of _bookData) {            
            let _compVal = reservation.start.slice(0,5);
            
            if(_val<_compVal){

                let tVal = _compVal.replace(":","");
                let tBtn = document.getElementById("btnHour"+tVal);
                tBtn.classList.remove("btn-danger");
                tBtn.classList.remove("disabled");
                tBtn.classList.add("btn-success");
                break;
            }
        }
        for (const _btn of _buttons) {
            if(_val === _btn.value){
                _btn.classList.remove("btn-danger");
                _btn.classList.remove("btn-success");
                _btn.classList.add("btn-secondary");
                disableBefore = 1;                
            }
            if(!disableBefore){
                //_btn.classList.add("btn-danger");
                _btn.classList.add("disabled");
                //_btn.classList.remove("btn-success");
                //_btn.classList.remove("btn-secondary");
            }
        }
    }
    function disableRest(_val){
        var _buttons = document.getElementsByClassName("available-btns");
        var disableAfter = 0;
        for (const _btn of _buttons) {
            if(_val === _btn.value){
                _btn.classList.remove("btn-danger");
                _btn.classList.remove("btn-success");
                _btn.classList.add("btn-secondary");
                disableAfter = 1;                
            }
            if(disableAfter){
                //_btn.classList.add("btn-danger");
                _btn.classList.add("disabled");
                //_btn.classList.remove("btn-success");
                //_btn.classList.remove("btn-secondary");
            }else if(!_btn.classList.contains("disabled")){
                _btn.classList.remove("btn-danger");
                _btn.classList.remove("btn-success");
                _btn.classList.add("btn-secondary");
                _btn.classList.add("disabled");
            }
        }
        document.getElementById("btn-reset").classList.remove("d-none");
        
        document.getElementById("reserve_date").classList.remove("disabled");
    }
  </script>
<script type="module">
    document.addEventListener("DOMContentLoaded", function() {
        firstClick = 0;

        var date_div = document.getElementById("res_date");
        var _list = "<%= JSON.stringify(_getReservations._listAll) %>" ;
        _list = _list.replaceAll("&#34;","\"");
        let data = JSON.parse(_list)
        //console.log(data);
        let selectedDate = new Date(date_div.value);
        //console.log(new Date(selectedDate).toLocaleDateString("de-DE"))
        data.forEach(element => {
            let d= new Date(element.date);
            let nd=new Date(element.date).setHours(24);
            let hms = element.start.split(":");
            let hms2 = element.end.split(":");
            //console.log(hms)
            let start = new Date(d.getFullYear(),d.getMonth(),d.getDate(),...hms).toLocaleDateString();
            let end = new Date(d.getFullYear(),d.getMonth(),d.getDate(),...hms2).toLocaleDateString();
            
            
            //console.log(d);

            // if(validator.isBefore(element.date.toString(),start.toString()) && validator.isBefore(new Date(nd).toString(),end.toString())){
            //     console.log(element.date+" "+start+"-"+end);
            // }

        });

    })
</script>
<!-- 
id: row.id,
name: row.name,
text: row.description,
type: row.type,
img: row.picture,
capacity: row.person_capacity,
cost_room: row.cost_room,
//discount_room,surcharge_room,
vat: row.cost_room_vat,
cost_person: row.cost_person,
person_vat: row.cost_person_vat,
prep: row.prep_minute,
active: row.active -->
<form action="/book/" method="post">
    <input type="hidden" name="room_id" value="<%= room.id %>">
    <input type="hidden" name="cost" value="<%= room.id %>">
    <div class="container">
        <div class="row">
            <div class="col">                
                <div class="card mb-3" id="card<%= bookId %>"> <!-- style="max-width: 540px;" -->
                    <div class="row g-0">
                        <div class="col-md-7">
                            <img src="/img/<%= room.img %>" class="img-fluid room-image" alt="Room <%= room.name %>">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title"><%= t("room.name"+room.type) + room.name %></h5>

                                <div class="row">
                                    <div id ="container" class="mb-3 col">
                                        <div id ="modularCalendar"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row d-none" id="hours-row">
            <div class="col" id="hours-info1">
                First, select your event time.
            </div>
            <div class="col d-none" id="hours-info2">
                Next, select event finish time.
            </div>
            <div class="col d-none" id="hours-info3">
                You can proceed to next stage or click Reset button.
            </div>
            <div class="d-flex flex-wrap">
                <% for( let i = 0; i < 17; i++ ) { %>
                    <div  class="p-1">
                        <input type="button" onclick="bookRes(this)" class="btn btn-sm btn-success m-0 available-btns" id="btnHour<% if (i<3) { %>0<% } %><%=7+i %>00" value="<% if (i<3) { %>0<% } %><%=7+i %>:00">
                    </div>
                    <div  class="p-1">
                        <input type="button" onclick="bookRes(this)" class="btn btn-sm btn-success m-0 available-btns" id="btnHour<% if (i<3) { %>0<% } %><%=7+i %>30" value="<% if (i<3) { %>0<% } %><%=7+i %>:30">
                    </div>
                <% } %>                         
                <div  class="p-1">
                        <input type="button" onclick="resetBtn()" class="btn btn-sm btn-primary m-0 d-none" id="btn-reset" value="<%= t("reset") %>">
                </div>                                   
            </div>
        </div>
        <div class="room-cont row">
            <div class="col-lg-6  mb-3 mb-lg-0">
                <input type="date" name="res_date" id="res_date" autocomplete="off" placeholder="Rezervasyon Tarihi" class="hasDatepicker" value="2023-10-19" required>
                <input type="time" name="res_start" id="res_start" autocomplete="off" placeholder="Start" class="hasTime"  value="18:01" required>
                <input type="time" name="res_end" id="res_end" autocomplete="off" placeholder="End" class="hasTime" value="19:00" required>

            </div>

        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label><%= t("reserve.date") %></label>
        <button class="btn btn-primary disabled" id="reserve_date"><%= t("next") %></button>

        <div class="row">
            <div class="section_wrapper oturma_planlari_wrapper">
                <h3 class="section_title"><%= t("room.seating_plan") %></h3>
                <div class="section_content oturma_planlari">
                    <% seatings.forEach(element => { %>
                        <label for="seating<%= element.seating_id %>">
                            <div class="oturma_plani">
                                <span><%=  t("room."+element.desc) %></span>
                                <img src="/img/<%= element.img %>" class="oturma_plani_img gd" alt="Plan <%= element.seating_id %>">
                                <span><%= element.capacity %> <%= t("room.person") %></span>
                                <input type="radio" value="<%= element.seating_id %>" name="seating" id="seating<%= element.seating_id %>" required>
                            </div>
                        </label>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_wrapper second_section_wrapper">
                <h3 class="section_title"><%= t("reserve.optional_wishes") %></h3>
                <div class="section_content oturma_planlari">
                    <textarea id="rex" name="rex" rows="5" cols="90" style="width:100%;"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="section_wrapper second_section_wrapper">
                <h3 class="section_title"><%= t("reserve.options") %></h3>
                <div class="section_content oturma_planlari">


                </div>
            </div>
        </div>
    </div>
</form>
<!-- xzczxc-------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col">
        <% _getReservations._listAll.forEach(element => { %>
            <%= element.date %>  <%= element.start %> <%= element.end %> <br>
        <% }) %>
    </div>
</div>
<style>
    .odalar_wrapper {
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px;
    width: 100%;
}

form#rezervasyon_yap {
    font-family: system-ui;
}
.toplanti_odasi {
    border: 1px solid #ece9e8;
    padding: 10px 14px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 300px calc(100% - 334px);
    gap: 20px;
}
.room_image {
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}
h3.room-title {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
    margin-bottom: 12px !important;
    max-width: 562px;
}
.toplanti_odasi_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.toplanti_odasi_content>div {
    display: grid;
    grid-template-columns: 25% calc(75% - 10px);
    gap: 10px;
    align-items: center;
    max-width: 520px;
}
.toplanti_odasi_content>div>label {
    display: block;
    font-size: .9rem;
    margin-bottom: 5px;
    font-weight: 600 !important;
}
.toplanti_odasi_content>div input {
    max-width: 390px !important;
    height: 35px;
    border-radius: 3px !important;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}
.timepicker_containers>.times {
    max-width: 390px !important;
}
.timepicker_containers>.times input {
    height: 35px;
    line-height: 35px;
    border-radius: 3px !important;
    padding-bottom: 3px;
}
label[for="rezervasyon_notu"] {
    height: 100px;
}
textarea#rezervasyon_notu {
    max-width: 390px;
    border-radius: 3px !important;
    min-height: 100px !important;
}

/* Kişi Sayısı */
.kisi_sayisi h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#kisi_basi_fiyat_info{
    font-family: 'Font Awesome 5 Free';
    color: #955e46;
    cursor: help;
}
.kisi_sayisi .quantity {
    justify-content: start !important;
}
.quantity {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
}
.quantity-nav {
    float: left;
    position: relative;
    height: 31px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    height: 35px !important;
    max-width: 80px;
    border-radius: 3px !important;
    border: var(--wd-form-brd-width) solid var(--wd-form-brd-color) !important;
    -moz-appearance: textfield;
    width: 74% ;
    text-align: left !important;
    float: left !important;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 15px !important;
    font-size: 1rem !important;
    border-radius: 4px !important;
    background-color: #fff !important;
}
input[type=number]:focus {
    outline: 0;
}
.quantity-button {
    position: relative;
    cursor: pointer;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.08);
    width: 21px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "FontAwesome" !important;
    padding: 0;
    background: #FAFAFA;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    min-height: unset !important;
}
.quantity-button:active {
    background: #EAEAEA;
}
.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    font-family: "FontAwesome";
    border-radius: 0 4px 0 0;
    line-height: 1.6;
    right: -19px;
}
.quantity-button.quantity-down {
    position: absolute;
    bottom: -2px;
    height: 50%;
    font-family: "FontAwesome";
    border-radius: 0 0 4px 0;
    right: -19px;
}

/* Oda özellikleri ve hizmetler */
.second_section_wrapper {
    border: 1px solid #ece9e8;
    border-radius: 4px !important;
    margin-top: 20px;
}
form#rezervasyon_yap h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: system-ui;
    color: #242424;
    margin: 0;
    margin-top: 5px;
}
.section_wrapper{
    border: 1px solid #ece9e8;
    border-radius: 4px !important;
    margin-top: 20px;
}
h3.section_title {
    font-weight: 600 !important;
    border-bottom: 1px solid #dddddd;
    padding: 10px 14px !important;
    font-size: 1.1rem !important;
    color: #242424 !important;
}
.section_content{
    padding: 10px 14px;
}
h4.section_sub_title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0 !important;
}
.oda_ozellikleri, .oda_ek_hizmetleri {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}
.ozelikler_ilk_satir>h3 {
    font-size: 20px !important;
    margin: 0px !important;
    display: inline;
}
.ozelikler_sag_taraf {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 18px;
    font-weight: 500;
    font-family: system-ui;
}
.oda_ozellikleri>label,
.oda_ek_hizmetleri>label, div.ozel_istek_ekleme_kutusu_wrapper {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    text-transform: capitalize;
    background: #ECDED5;
}
p.ozellik_aciklamasi {
    font-size: 14px;
    white-space: pre-wrap;
    margin: 0px !important;
    padding-bottom: 4px;
}
.ozellik_ilk_satir {
    display: grid;
    width: 100%;
    grid-template-columns: 6% 72% 20%;
    gap: 1%;
    align-items: center;
}
.ozellik_ilk_satir>h3 {
    margin: 0px !important;
}
.ozellik_son_satir {
    display: grid;
    width: 100%;
    grid-template-columns: 6% 72% 20%;
    gap: 1%;
    align-items: baseline;
}
.oda_ozellikleri input[type=checkbox],
.oda_ek_hizmetleri input[type=checkbox] {
    scale: 1.4;
    margin-inline-end: 0px !important;
}
/* Footer */
.hesaplanan_fiyat {
    width: 100% !important;
    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 1% 29%;
}
h3.section_title.hesaplanan_fiyat_h3 {
    font-weight: bolder !important;
    text-align: center;
    font-size: 1.3rem !important;
    color: #714a32 !important;
}
.hesaplanan_fiyat span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #c29275;
}
.hesaplanan_fiyat span + hr + span {
    color: #8d5a3c;
}
.hesaplanan_fiyat span + hr + span + .price {
    color: #8d5a3c !important;
}
span#total_price {
    color: #8d5a3c !important;
}
span.price {
    text-align: right;
    color: #8d5a3c !important;
}
.hesaplanan_fiyat hr {
    width: 100%;
    max-width: 100%;
    grid-column: 1 / span 3;
    color: lightgray;
    margin: 10px 0;
}
#rezervasyonu_olustur {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #C89E85;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}
#rezervasyonu_olustur:hover {
    background-color: #8e6953;
}

/* Zamanlama */
.tarih_araligi>input, .times>input {
    background: #FFF;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1rem !important;
    font-weight: 500;
    text-align: center;
}
input#rezervasyon_tarihi, .times>input {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
input#rezervasyon_tarihi::placeholder, .times>input::placeholder {
    font-size: 1rem;
    color: #a1a1a1;
    text-align: center;
    font-weight: 500;
}
/* Ek hizmetler akordiyon yapı */
.ek_hizmet_accordion_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.ek_hizmet_accordion-item {
    border-bottom: none;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.ek_hizmet_accordion-header {
    color: #3c3c3c;
    padding: 10px 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
}
.ek_hizmet_accordion-header:before {
    content: '\002B';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
    background: #ecded5;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 32px;
    height: 32px !important;
    text-align: center;
}
.ek_hizmet_accordion-item.active .ek_hizmet_accordion-header:before {
    content: '\002D';
}
.ek_hizmet_accordion-content {
    display: none;
    padding: 0 8px;
}
.ek_hizmet_accordion-item.active .ek_hizmet_accordion-content {
    display: block;
}
.ek_hizmet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    margin: 10px 38px;
    padding: 0 15px;
}
.ek_hizmet_column {
    display: flex;
    align-items: center;
    gap: 10px;
}
.oda_ek_hizmetleri p {
    margin: 0;
}
.ek_hizmet h3 {
    font-size: 1rem !important;
    margin: 0px !important;
    font-weight: 500 !important;
}
.ek_hizmet input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
}
input.oda_ek_hizmet_adedi {
    width: 100% !important;
}
.ek_hizmet .quantity {
    margin: 3px auto;
}
.toplanti_odasi_image {
    width: fit-content;
    margin: 0px auto;
}
.oturma_planlari_wrapper {
    border: 1px solid #ece9e8;
    border-radius: 4px;
    margin-top: 20px;
}
.oturma_planlari {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    justify-content: start;
}
.oturma_plani {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}
.oturma_plani>img:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #7fc9e2;
    border-radius: 1px;
}
@media only screen and (max-width: 750px) {
    .toplanti_odasi_content {
        width: fit-content;
        margin: 0px auto;
    }
    .toplanti_odasi {
        border: 1px solid #ece9e8;
        padding: 10px 14px;
        border-radius: 4px;
        display: block;
    }
    .room_image {
        height: auto;
        width: auto;
    }
    h3.room-title {
        font-size: 1rem !important;
        margin-top: 5px;
        text-align: center;
    }
    .toplanti_odasi_content>div {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: inherit;
    }
    label[for="rezervasyon_notu"] {
        height: auto;
    }
    form#rezervasyon_yap h3 {
        font-size: .9rem;
        margin-bottom: 0 !important;
        width: 100% !important;
        max-width: 100%;
    }
    .ozellik_ilk_satir {
        display: grid;
        width: 100%;
        grid-template-columns: 7% 56% auto;
        gap: 1%;
        align-items: center;
    }
    .ozellik_son_satir {
        display: grid;
        width: 100%;
        grid-template-columns: auto 72% 20%;
        gap: 10px;
        align-items: baseline;
    }
    .quantity {
        margin-right: 0 !important;
    }
    .ozelikler_sag_taraf {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 0;
        font-weight: 500;
        font-family: system-ui;
        font-size: .9rem !important;
        white-space: nowrap;
    }
    .oda_ozellikleri>label, .oda_ek_hizmetleri>label {
        padding: 6px;
    }
    p.ozellik_aciklamasi {
        font-size: .74rem;
        white-space: pre-wrap;
        margin: 0px !important;
        padding: 0px 10px;
        padding-bottom: 4px;
    }
    button#rezervasyonu_olustur {
        font-size: 1rem;
        padding: 8px 30px !important;
        min-height: inherit;
    }
    .hesaplanan_fiyat {
        align-items: start;
        grid-template-columns: 66% 2px auto;
    }
    .hesaplanan_fiyat span {
        font-size: .9rem;
    }
    h3.hesaplanan_fiyat_h3 {
        font-size: .95rem !important;
    }
    /* Ek hizmet */
    .ek_hizmet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #cdcdcd;
        margin: 10px 0px;
        padding: 0 10px;
    }
    .ek_hizmet h3 {
        font-size: .8rem !important;
    }
    .ek_hizmet_accordion-content {
        padding: 0;
    }
}

.rezervasyon_tarihi {
    position: relative;
}
.rezervasyon_tarihi:hover .remove_button, .time_input:hover .remove_button, .time_input:hover .remove_button{
    display: block;
}
.remove_button {
    display: none;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-height: auto !important;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0px 8px;
}

.times {
    display: flex;
    align-items: center;
}

.time_input {
    position: relative;
    display: flex;
    align-items: center;
}

.time_input .remove_button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.time_input .remove_button i {
    color: red;
    font-size: 14px;
}

.time_input .remove_button:focus {
    outline: none;
}
/* Oda özelliği Ekleme Formu */
div.ozel_istek_ekleme_kutusu {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 25px) 50%;
    gap: 25px;
    box-sizing: border-box;
    padding: 0 32px;
}
.yeni_istek_butonu {
    color: #3c3c3c;
    padding: 10px 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    margin-left: 20px;
}
.yeni_istek_butonu:before {
    content: '\002B';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
    background: #b79681;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 32px;
    height: 32px !important;
    text-align: center;
}
div.ozel_istek_ekleme_kutusu>div {
    width: 100%;
}
div.ozel_istek_ekleme_kutusu>div>label {
    font-size: .91rem;
    font-weight: 500;
    margin-top: 10px;
}
.ozel_istek_ekleme_kutusu .quantity {
    justify-content: flex-start;
}
.ozel_istek_ekleme_kutusu .quantity>.quantity-nav {
    float: left;
    position: relative;
    height: 38px;
}
input.istek_adedi {
    width: 100px;
    min-width: 100px;
    max-width: unset !important;
    height: 42px !important;
    text-align: center !important;
    padding: 0 !important;
    padding-right: 15px !important;
    float: unset !important;
}
div.ozel_istek_ekleme_kutusu>div>input {
    background: white;
    max-width: 500px;
}
textarea.istek_aciklamasi {
    background: white;
    max-width: 100%;
    min-height: 120px !important;
    max-height: 200px !important;
}
button.istegi_ekle {
    text-transform: capitalize;
    font-size: 1rem;
    width: 100%;
    background: #E91E63;
    color: white;
    min-width: 200px !important;
    max-width: 225px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
}
/* İstek ekleme errors */
div#ozellik_ekleme_error_wrapper, div#hizmet_ekleme_error_wrapper {
    display: flex;
    flex-direction: column;
    background: #FFC107;
    color: #000000;
    width: calc(100% - 24px);
    box-sizing: border-box;
    padding: 10px 12px;
    margin: 25px auto;
    margin-bottom: 0;
    border-radius: 3px;
    position: relative;
    font-weight: 500;
}
div#ozellik_ekleme_error_wrapper:after {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    font-family: 'FontAwesome';
    content: "\f071";
    color: red;
    font-size: 3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
div#ozellik_ekleme_error_wrapper>span {
    position: relative;
    padding-left: 15px;
    font-size: .9em !important;
}   
div#ozellik_ekleme_error_wrapper>span:before {
    font-family: "Font Awesome 5 Free";
    color: #cc1818;
    content: '\f04b';
    margin-right: 6px;
    font-weight: bold;
    font-size: .7em;
    vertical-align: text-bottom;
    position: absolute;
    left: 0px;
    top: calc(50% + 1px);
    transform: translateY(-50%);
}
/* Eklenen İstekler */
div.eklenen_istekler {
    width: 100%;
    margin-bottom: 15px;
}
.ozel_istek {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    text-transform: capitalize;
    background: #ECDED5;
}
.ozel_istek:not(:last-child) {
    margin-bottom: 10px;
}
.ozel_istek input[type=checkbox] {
    scale: 1.4;
    margin-inline-end: 0px !important;
}
.eklenen_istek_islemleri {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button.istegi_duzenle {
    min-width: 150px;
    border-radius: 3px;
    min-height: 38px !important;
    max-height: 38px !important;
    background: #4c6c85;
    color: white;
    font-weight: 600;
}
button.istegi_sil {
    border-radius: 3px;
    height: 38px !important;
    min-height: 38px !important;
    background: #df4d7f;
    color: white;
    font-weight: 500;
}
@media only screen and (max-width: 630px) {
    div.ozel_istek_ekleme_kutusu {
        grid-template-columns: 100%;
        gap: 0px;
    }
}
</style>